<div class="box">
<div class="row">
  <div class="main-contents col-xs-8 col-xs-offset-2">
    <h1>ログイン</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, class: 'form-control', placeholder: "名前"%>
      <%= f.password_field :password, class: 'form-control', placeholder: "パスワード" %>

      <%= f.submit "ログイン", class: "btn btn-warning" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
</div>