<div class="comment">
  <div class="comment-user">
    <%= link_to gravatar_for(comment.user, size: 40), comment.user %>
    <span class="user"><%= link_to comment.user.name, comment.user %></span>
  </div>
  <div  class="comment-text"><%= comment.content %></div>
  <div class="comment-detail">
    <%= render partial:"comments/form_fav_com" , locals: { comment: comment} if logged_in? %>
    <span class="timestamp">
        Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
  </div>
</div>