<div class="box">
<div class="row">
  <div class="main-contents col-xs-8 col-xs-offset-2">
      <h1>どんな本に出会いたい？</h1>
      <div class="genetalk">
        <%= form_for(@talkroom) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
        <div class="field" >
          <%= f.hidden_field :user_id , :value => current_user.id %>
          <%= f.text_field :talkname , class: "form-control", placeholder: "例)桜の時期に読みたくなる本" %>
        </div>
          <%= button_tag 'おすすめをきいてみる'.html_safe, :type => "submit", 
    :class =>"btn btn-post" %>
        <% end %>
    </div>
  </div>
</div>
</div>