<div class="box">
<h1>
  <div class="icon">
    <%= gravatar_for @user, size: 100 %> 
  </div>
  <div class="name">
    <%= @user.name %>
  </div>
  <div class="status">
    <%= render 'follow_form' if logged_in? && @user != current_user %>
  </div>
</h1>
<br>
    <% if @user.talkrooms.any? %>
      <h3>質問した投稿 (<%= @user.talkrooms.count %>)</h3>
      <ol class="talkrooms">
        <%= render @talkrooms %>
      </ol>
    <% end %>
</div>