<!DOCTYPE html>
<html>
<head>
  <title>ぶっくぼっくす</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%#= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>

<%= render partial: "layouts/header" %>
<div class="main-wrapper">
<%= yield %>
</div>
<%= render partial: "layouts/footer" %>

</body>
</html>